annotated-types==0.7.0
astroid==2.15.5
attrs==23.1.0
bandit==1.7.5
boltons==21.0.0
bracex==2.3.post1
build==0.10.0
certifi==2025.4.26
charset-normalizer==3.1.0
click==8.1.8
click-option-group==0.5.6
colorama==0.4.6
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.6
distlib==0.4.0
docutils==0.20.1
exceptiongroup==1.2.2
face==22.0.0
filelock==3.19.1
flake8==6.0.0
gitdb==4.0.12
GitPython==3.1.44
glom==22.1.0
googleapis-common-protos==1.70.0
idna==3.10
importlib_metadata==7.1.0
isort==5.12.0
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
lazy-object-proxy==1.9.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
packaging==23.1
pbr==5.11.1
peewee==3.16.2
pep517==0.13.1
platformdirs==3.9.1
protobuf==4.25.8
pycodestyle==2.10.0
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==3.0.1
Pygments==2.15.1
pylint==2.17.4
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyroma==4.2
python-lsp-jsonrpc==1.0.0
PyYAML==6.0.2
referencing==0.29.1
requests==2.32.5
rich==13.4.2
rpds-py==0.8.10
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.14
semgrep==1.86.0
setuptools==80.9.0
six==1.16.0
smmap==5.0.2
stevedore==5.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
trove-classifiers==2023.5.24
typing_extensions==4.12.2
ujson==5.11.0
urllib3==2.5.0
virtualenv==20.34.0
vulture==2.7
wcmatch==8.4.1
wrapt==1.15.0
zipp==3.23.0
