astroid==2.15.5
bandit==1.7.5
build==0.10.0
certifi==2023.5.7
charset-normalizer==3.1.0
dill==0.3.6
docutils==0.20.1
flake8==6.0.0
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==23.1
pbr==5.11.1
pep517==0.13.0
platformdirs==3.5.3
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.15.1
pylint==2.17.4
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyroma==4.2
PyYAML==6.0
requests==2.31.0
rich==13.4.2
six==1.16.0
smmap==5.0.0
stevedore==5.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
trove-classifiers==2023.5.24
urllib3==2.0.3
vulture==2.7
wrapt==1.15.0
