bandit==1.7.4
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
coverage==6.3.2
coveralls==3.3.1
docopt==0.6.2
gitdb==4.0.9
gitdb2==4.0.2
GitPython==3.1.27
idna==3.3
pbr==5.8.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
smmap==5.0.0
smmap2==3.0.1
stevedore==3.5.0
urllib3==1.26.9
