bandit==1.6.0
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
coveralls==1.7.0
docopt==0.6.2
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
pbr==5.2.1
PyYAML==5.1
requests==2.22.0
six==1.12.0
smmap2==2.0.5
stevedore==1.30.1
urllib3==1.25.3
