bandit==1.6.2
certifi==2019.11.28
chardet==3.0.4
coverage==5.0.1
coveralls==1.10.0
docopt==0.6.2
gitdb2==2.0.6
GitPython==3.0.5
idna==2.8
pbr==5.4.4
PyYAML==5.2
requests==2.22.0
six==1.13.0
smmap2==2.0.5
stevedore==1.31.0
urllib3==1.25.7
