bleach==3.1.5
certifi==2020.6.20
chardet==3.0.4
docutils==0.16
entrypoints==0.3
flake8==3.8.3
idna==2.10
importlib-metadata==1.7.0
keyring==21.4.0
mccabe==0.6.1
more-itertools==8.5.0
pkginfo==1.5.0.1
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
tqdm==4.48.2
twine==3.2.0
urllib3==1.25.10
vulture==2.1
webencodings==0.5.1
zipp==3.1.0
