bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
entrypoints==0.3
flake8==3.7.7
idna==2.8
mccabe==0.6.1
pkginfo==1.5.0.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
tqdm==4.32.1
twine==1.13.0
urllib3==1.25.3
vulture==1.0
webencodings==0.5.1
