bleach==3.3.0
certifi==2022.12.07
chardet==3.0.4
colorama==0.4.4
docutils==0.16
idna==2.10
keyring==21.4.0
packaging==20.4
pkginfo==1.6.1
Pygments==2.7.4
pyparsing==2.4.7
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.51.0
twine==3.2.0
urllib3==1.26.5
webencodings==0.5.1
