name: Analyze

# On all pushes to branches and pull requests in general.
on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  analyze:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@bd6b4b6205c4dbad673328db7b31b7fab9e241c0
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
      with:
        path: ~/.cache/pip
        key: ${{ runner.os}}-pip-${{ hashFiles('**/.*-requirements.txt') }}
        restore-keys: |
          ${{ runner.os}}-pip-
    - name: Analyze
      run: ./misc/actions/analyze.sh
