name: Analyze

# On all pushes to branches and pull requests in general.
on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  analyze:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@5ccb29d8773c3f3f653e1705f474dfaa8a06a912
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@58c146cc91c5b9e778e71775dfe9bf1442ad9a12
      with:
        path: ~/.cache/pip
        key: ${{ runner.os}}-pip-${{ hashFiles('**/.*-requirements.txt') }}
        restore-keys: |
          ${{ runner.os}}-pip-
    - name: Analyze
      run: ./misc/actions/analyze.sh
