name: Snyk Schedule

# Run every sunday at 2:14.
on:
  schedule:
    - cron: '14 2 * * 6'

permissions:
  contents: read

jobs:
  security:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        requirements: [analysis, coverage]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.10'

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: ~/.cache/pip
          key: snyk-pip-${{ hashFiles('**/.*-requirements.txt') }}
          restore-keys: snyk-pip-

      - name: Upgrade Pip
        run: pip3 install --upgrade pip
      - name: Install requirements
        env:
          reqs: ${{ matrix.requirements }}
        run: python3 -m pip install -r misc/.$reqs-requirements.txt

      - name: Install Snyk
        run: npm install -g snyk
      - name: Run Snyk
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          FORCE_COLOR: 2
          SNYK_INTEGRATION_NAME: GITHUB_ACTIONS
          SNYK_INTEGRATION_VERSION: python
          reqs: ${{ matrix.requirements }}
        run: snyk test --project-name=vermin --package-manager=pip --file=misc/.$reqs-requirements.txt --command=python3 --sarif-file-output=snyk-$reqs.sarif --show-vulnerable-paths=all --print-deps

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db
        with:
          sarif_file: snyk-${{matrix.requirements}}.sarif
