name: Snyk Schedule

# Run every sunday at 2:14.
on:
  schedule:
    - cron: '14 2 * * 6'

permissions:
  contents: read

jobs:
  security:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        requirements: [analysis, coverage]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: '3.10'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: ~/.cache/pip
          key: snyk-pip-${{ hashFiles('**/.*-requirements.txt') }}
          restore-keys: snyk-pip-

      - name: Upgrade Pip
        run: pip3 install --upgrade pip
      - name: Install requirements
        env:
          reqs: ${{ matrix.requirements }}
        run: python3 -m pip install -r misc/.$reqs-requirements.txt

      - name: Install Snyk
        run: npm install -g snyk
      - name: Run Snyk
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          FORCE_COLOR: 2
          SNYK_INTEGRATION_NAME: GITHUB_ACTIONS
          SNYK_INTEGRATION_VERSION: python
          reqs: ${{ matrix.requirements }}
        run: snyk test --project-name=vermin --package-manager=pip --file=misc/.$reqs-requirements.txt --command=python3 --sarif-file-output=snyk-$reqs.sarif --show-vulnerable-paths=all --print-deps

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@c0d1daa7f7e14667747d73a7dbbe8c074bc8bfe2
        with:
          sarif_file: snyk-${{matrix.requirements}}.sarif
