name: Snyk

# On all pushes/PRs.
on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  security:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        requirements: [misc, analysis, coverage]

    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Set up Python
        uses: actions/setup-python@57ded4d7d5e986d7296eab16560982c6dd7c923b
        with:
          python-version: '3.10'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: ~/.cache/pip
          key: snyk-pip-${{ hashFiles('**/.*-requirements.txt') }}
          restore-keys: snyk-pip-

      - name: Upgrade Pip
        run: pip3 install --upgrade pip
      - name: Install requirements
        run: python3 -m pip install -r misc/.${{matrix.requirements}}-requirements.txt

      - name: Install Snyk
        run: npm install -g snyk
      - name: Run Snyk
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          FORCE_COLOR: 2
          SNYK_INTEGRATION_NAME: GITHUB_ACTIONS
          SNYK_INTEGRATION_VERSION: python
        run: snyk test --project-name=vermin --package-manager=pip --file=misc/.${{matrix.requirements}}-requirements.txt --command=python3 --show-vulnerable-paths=all --print-deps
