name: Test

# On all pushes to PRs or pushes to specific branches. Not on ALL pushes in general because it will
# double if pushing to a PR.
on:
  workflow_dispatch: {}
  # pull_request:
  # push:
  #   branches:
  #     - 'master'
  #     - 'dev'

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Start Linux jobs last since they are fastest to start and complete, and start 3.12 first,
        # since it pairs wiht macOS+Windows jobs. 3.4 is not supported on GitHub anymore and 3.5,
        # 3.6, and 3.7 for x64 isn't produced for Ubuntu 22.04 and macOS.
        python-version: ['3.12', '3.11', '3.10', 3.9, 3.8]
        os: [windows-latest, macos-latest, ubuntu-latest]

        # Choose test script depending on OS.
        include:
          - os: ubuntu-latest
            test_script_name: ./misc/actions/test.sh
          - os: macos-latest
            test_script_name: ./misc/actions/test.sh
          - os: windows-latest
            test_script_name: ./misc/actions/test.ps1

        exclude:
          # Only test on macOS and Windows with Python 3.12.
          - os: macos-latest
            python-version: 3.5
          - os: macos-latest
            python-version: 3.6
          - os: macos-latest
            python-version: 3.7
          - os: macos-latest
            python-version: 3.8
          - os: macos-latest
            python-version: 3.9
          - os: macos-latest
            python-version: '3.10'
          - os: macos-latest
            python-version: '3.11'

          - os: windows-latest
            python-version: 3.5
          - os: windows-latest
            python-version: 3.6
          - os: windows-latest
            python-version: 3.7
          - os: windows-latest
            python-version: 3.8
          - os: windows-latest
            python-version: 3.9
          - os: windows-latest
            python-version: '3.10'
          - os: windows-latest
            python-version: '3.11'

          # Ignore 3.5, 3.6, and 3.7 on Linux because it isn't compiled for x64 on Ubuntu 22.04.
          - os: ubuntu-latest
            python-version: 3.5
          - os: ubuntu-latest
            python-version: 3.6
          - os: ubuntu-latest
            python-version: 3.7

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
      with:
        python-version: ${{ matrix.python-version }}

    # The caches need to have the python version included since the
    # "misc/.coverage-requirements.txt" does not have version-pinning.
    - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809
      if: startsWith(matrix.os, 'ubuntu-latest')
      with:
        path: ~/.cache/pip
        key: ${{ matrix.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/.*-requirements.txt') }}
        restore-keys: |
          ${{ matrix.os }}-pip-${{ matrix.python-version }}-
    - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809
      if: startsWith(matrix.os, 'macos-latest')
      with:
        path: ~/Library/Caches/pip
        key: ${{ matrix.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/.*-requirements.txt') }}
        restore-keys: |
          ${{ matrix.os }}-pip-${{ matrix.python-version }}-
    - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809
      if: startsWith(matrix.os, 'windows-latest')
      with:
        path: ~\AppData\Local\pip\Cache
        key: ${{ matrix.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/.*-requirements.txt') }}
        restore-keys: |
          ${{ matrix.os }}-pip-${{ matrix.python-version }}-

    - name: Test and coverage
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.os }}-${{ matrix.python-version }}
        COVERALLS_PARALLEL: true
      run: ${{ matrix.test_script_name }}

  # When all parallel tests are done and uploaded, the coveralls session can be signalled as
  # finished.
  finish:
    permissions:
      checks: write  # for coverallsapp/github-action to create new checks
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
